<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container" style="text-align: center;">
        <h1>Update info</h1>
        <form action="/admin" method="POST">
        <input type="text" name="Full-name" placeholder="enter Full name" style="display: block; margin: 0 auto; margin-bottom: 1rem;">
        <input type="date" name="Date-of-birth" placeholder="enter date of birth" style="display: block; margin: 0 auto; margin-bottom: 1rem;">
        <input type="text" name="Place-of-residence" placeholder="enter place of residence" style="display: block; margin: 0 auto; margin-bottom: 1rem;">
        <input type="text" name="Schools" placeholder="enter Schools" style="display: block; margin: 0 auto; margin-bottom: 1rem;">
        <input type="text" name="Technical-Skills" placeholder="enter technical skills" style="display: block; margin: 0 auto; margin-bottom: 1rem;">
        <input type="text" name="soft-skills" placeholder="enter soft skills" style="display: block; margin: 0 auto; margin-bottom: 1rem;">
        <input type="file" name="image" placeholder="insert image" style="display: block; margin: 0 auto; margin-bottom: 1rem;">
        <button type="submit">Submit</button>
        </form>
        <a href="/">Back to main</a>
    </div>
    
</body>
</html>